
# Three image containers (use 25% for four, and 50% for two, etc) 
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

# Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: table;
}

.imgContainer{
    float:left;
}


.huge .remark-code { /*Change made here*/
  font-size: 200% !important;
}
.small .remark-code { /*Change made here*/
  font-size: 70% !important;
}
.normal  .remark-code { /*Change made here*/
  font-size: 70% !important;
}



.title-slide {
	background-color: #fff;
  background-image: url(../img/R_icon.jpg);
	background-position: center top 2px;
	background-size: 20%;
	border-bottom: 2px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}

.small { font-size: 90% }



/* slide titles */
.reveal .slides section .slideContent h1 { 
  font-size: 100%;
  color: blue;
}



.reveal h3 { 
  font-size: 100%;
  color: blue;
}

/* heading for slides with two hashes ## */
.reveal .slides section .slideContent h2 {
   font-size: 100%;
   font-weight: bold;
   color: green;
}

/* ordered and unordered list styles */
.reveal ul, 
.reveal ol {
    font-size: 100%;
    color: red;
    list-style-type: square;
}

h1, h2, p, ul, li {
    font-size: 100%;
}

h1 {
  font-size: 40px!important;
}


code.r{
  font-size: 70%;
}

code.r.hljs.remark-code{
  background-color:#e7e8e2;
}


pre {
  font-size: 100%
}


.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 55%;
}
.pull-right {
  float: right;
  width: 40%;
}
.pull-right ~ * {
  clear: both;
}

.vertical-center-100 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
